//@import "bootstrap/scss/variables";

$fontFamily: Vazirmatn, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
  'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

$direction: ltr;

$primary: #171923;
$secondary: #f8f9fa;

$body-bg: $primary !default;
$body-color: $secondary !default;

$modal-content-bg: $primary;

$btn-close-color: #d71628;

$list-group-bg: $primary;
$list-group-color: $secondary;
$list-group-border-color: $secondary;