@import 'fonts';
@import 'variables';
@import 'bootstrap/scss/bootstrap.scss';

html,
body {
  height: 100vh;
  direction: $direction;
  font-family: $fontFamily;
  background-color: $primary;
}

#root {
  padding-bottom: 10rem;
}

/* width */
::-webkit-scrollbar {
  width: 0.5em;
  background: transparent;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(128, 128, 128, 0.3);
  opacity: 0.3;
  border-radius: 10px;
}

.h-fit {
  height: fit-content;
}

.modal {
  background-color: rgba(0, 0, 0, 0.62);
}

.hero {
  background-image: url("../images/sunny.jpg");
  background-position: center;
  background-size: cover;
  background-color: #000000a3;
  background-blend-mode: overlay;
  height: 400px;
}

.weather-card {
  height: 100%;
  min-height: 380px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../images/mountain.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #0000007a;
  background-blend-mode: overlay;
  transition: all 0.3s ease-in-out;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.img-weather {
  width: 80px;
  filter: drop-shadow(0 0 4px white);
}

.country-badge {
  font-size: .75rem;
  font-weight: bold;
  color:  #DFA94A;
  top: -1em;
  padding-inline-start: 0.5rem;
  padding-inline-end: 0.5rem;
  border-radius: 10px;
}

.flex-basis-50 {
  flex-basis: 50%;
}

.modal-open {
  position: fixed;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  inset: 0;
  padding-right: 0;
}

.overflow-x-scroll {
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
}

.overflow-y-scroll {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.top-2 {
  top: 0.5rem;
}

.right-2 {
  right: 0.5rem;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.card-glassmorphism {
  background: rgba( 255, 255, 255, 0.2 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 7px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}