@import 'fonts';
@import 'variables';
@import 'mixin';
@import 'bootstrap/scss/bootstrap.scss';

html,
body {
  height: 100vh;
  direction: $direction;
  font-family: $fontFamily;
  background-color: $primary;
}

.h-fit {
  height: fit-content;
}

.hero {
  background-image: url("../images/sunny.jpg");
  background-position: center;
  background-size: cover;
  background-color: #000000a3;
  background-blend-mode: overlay;
  height: 400px;
}

.weather-card {
  background-image: url("../images/mountain.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #0000007a;
  background-blend-mode: overlay;
  transition: all 0.3s ease-in-out;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 10px 15px -3pxrgba(0, 0, 0, 0.1),0 4px 6px -2px rgba(0, 0, 0, 0.05);
}